/* css for auth pages */
/* ------------------ */

/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* styles */

* {
    font-family: "Inter", sans-serif;
}

.massive-header {
    font-size: 4rem;
}

.clip-art {
    width: 50%;
}

.login-card {
    width: 75%;
}

.main-row {
    min-height: 95vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

/*  media queries  */
@media (max-width: 500px) {
    .main-row {
        min-height: 80vh;
    }

    @media (max-height: 800px) {
        .main-row {
            min-height: 95vh;
        }
    }

    .massive-header {
        font-size: 2rem;
    }

    .clip-art {
        width: 40%;
    }

    .login-card-container {
        height: 100%;
        width: 100%;
    }

    .login-card {
        width: 100%;
        font-size: 0.9rem;
    }

    .login-card h1 {
        font-size: 1.5rem;
    }

    .login-card input {
        font-size: 0.9rem;
    }

    .login-card button {
        width: 25%;
        font-size: 0.8rem;
    }
}
