/* css for application core */
/* ------------------------ */

/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* styles */

* {
    font-family: "Inter", sans-serif;
}

/* header font weights */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

/* gradient backgrounds */

.bg-gr-mint {
    background-image: linear-gradient(to right, #a8ff78, #78ffd6);
}

.bg-gr-mint-light {
    background-image: linear-gradient(to right, #d5ffbf, #c2ffed);
}

.bg-gr-amin {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.bg-gr-crimson {
    background-image: linear-gradient(to right, #ed213a, #93291e);
}
